dialog[open]{
    background-color: #2a3047;
    border-radius: 10px;
    padding: 20px 30px;
    width: 80rem;
    max-width: 90%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: #e0e0e0; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0.2rem solid #3b82f6;
}
    


dialog > h3 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

#title, #project-title {
    background-color: #1a1f38;
    color: #e0e0e0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    outline: none;
    margin-bottom: 1.5rem;
}

#description, #project-description {
    background-color: #1a1f38;
    color: #e0e0e0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
    height: 80px;
    font-size: 16px;
    outline: none;
    margin-bottom: 1.5rem;
}

#datedue {
    background-color: #1a1f38;
    color: #e0e0e0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 1.5rem;
    outline: none;
}

#priority {
    background-color: #1a1f38;
    color: #e0e0e0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
.dialog-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

dialog button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

dialog button {
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

dialog button:hover {
    background-color: #4fc3f7;
    box-shadow: 0px 4px 8px rgba(79, 195, 247, 0.4);
}

dialog button.cancel {
    background-color: transparent;
    color: #e0e0e0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 10px;
}

label {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}
 
input:invalid, form textarea:invalid, form select:invalid {
    border-color: #fa8686 !important;
    background-color: #2a1f1f !important;
}

input:valid, textarea:valid, select:valid {
    border-color: #4caf50;
    appearance: none;
}


input:focus, textarea:focus, select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.8);
    outline: none;
}
#cardid, #projectid {
    display: none;
}