#allprojects {
    font-size: 2rem;
    background: none;
    color: #e0e0e0;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
#allprojects:hover {
    transform: scale(1.12);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
}


#project-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a3047;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    color: #e0e0e0;
    gap: 10px;
}

.project-title {
    flex-grow: 1;
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    
}

.project-name:hover {
    background-color: #4fc3f7;
    box-shadow: 0px 4px 8px rgba(79, 195, 247, 0.4);
}

.project-buttons-container {
    display: flex;
    gap: 8px; 
}

.project-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px;
    transition: opacity 0.2s ease;
}

.project-edit {
    color: #4fc3f7;
}

.project-delete {
    color: #ff6b6b;
}

.project-delete:hover {
    color: #ff3b3b;
}

.project-button:hover {
    opacity: 0.7;
}

.project:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
}
